
button {
	/*Da se prikazu button-i jedan ispod drugog*/
	display: block;
	
	positon:relative;
	z-index:10;
	
}
.hoverBtn :hover{
	background:#1c8adb;
	cursor:pointer;
	color:#000;
	
	
}
.welcomeBtn{
	resize:both;
}
.hoverBtn{
	border-radius:10%/40%;
	
}

#slider{
	resize:both;
	overflow:hidden;
}
#slider figure{
	
	position:relative;
	width:500%;
	margin:0%;
	left:0%;
	/*infinite-da se vrte slike non stop */
	animation:20s slider infinite;
}
#slider figure img{
	width:20%;
	float:left;
	
}
@keyframes slider{
	0%{
		left:0%;
	}
	20%{
		left:0%;
	}
	25%{
		left:-100%;
	}
	45%{
		left:-100%;
	}
	50%{
		left:-200%;
	}
	70%{
		left:-200%;
	}
	75%{
		left:-300%;
	}
	95%{
		left:-300%;
	}
	100%{
		left:-400%;
	}
}
.slider_image{
	position:relative;
	z-index:-1;
	width:100%;
	height:100%;
}

.Giftery_name{
	
	color: #F8F8FF	;
	-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
outline: 0%;
outline-style: none;
outline-width: 0%;
-webkit-tap-highlight-color: transparent;
border: 0%;
font: inherit;
font-size:375%;

overflow: hidden;
position:absolute;
z-index:10;
top:40%;
left:45%;


padding: 0%;
float: none;
	
	
	
}
.RegisterBtn{

	position:fixed;
	width:18%;
	height:7%;
	top:58%;
	left:42%;
	cursor: pointer;

	text-align: center;
	color: #444;
	-webkit-font-smoothing: antialiased;
	outline: 0%;
	outline-style: none;
	outline-width: 0%;
	
	margin: 0%;
	padding: 0%;
	border: 0%;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	
}
.LoginBtn{

	position:fixed;
	width:18%;
	height:7%;
	top:68%;
	left:42%;
	cursor: pointer;

	text-align: center;
	color: #444;
	-webkit-font-smoothing: antialiased;
	outline: 0%;
	outline-style: none;
	outline-width: 0%;
	
	margin: 0%;
	padding: 0%;
	border: 0%;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	
}
.GuestBtn{

	position:fixed;
	width:18%;
	height:7%;
	top:78%;
	left:42%;
	
	cursor: pointer;

	text-align: center;
	color: #444;
	-webkit-font-smoothing: antialiased;
	outline: 0%;
	outline-style: none;
	outline-width: 0%;
	
	
	margin: 0%;
	padding: 0%;
	border: 0%;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	
	
}

.transient_quote{
-webkit-font-smoothing: antialiased;
	
outline: 0;
outline-style: none;
outline-width: 0;
-webkit-tap-highlight-color: transparent;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
width: 20%;
position:fixed;
z-index:10;
top:52%;
left: 40%;

font-size: 100%;
line-height: 137.5%;
white-space: nowrap;
color: #fff;
text-align: center;


	
}
a:hover{
	text-decoration:none; 
}
a:visited{

	text-decoration:none; 
	

}
