body{
	margin:0;
	padding:0;
	background:url('../images/giftChild.jpg');
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}

h1{
    font-weight: bold;
    color:white;
}
.choose_div{
      background-color: rgba(2,2,20,0.80);
    padding:50px; 
    border-radius:10px;
    position: absolute; 
   
    
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%)
    
    
    
    
}